.search{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    
}
.input{
    margin: 10px;
    text-align: center;
    width: 50vw;
    font-size: 700;
    /* height: 20px; */
}
.button{
    padding-top: 10px;
}